body {
  font-family: "Roboto";
  font-size: 14px;
  color: #0a0a0a;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-title {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.main-selector {
  overflow: hidden;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 4;
}

.backdrop .close {
  position: absolute;
  padding: 0;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.form-backdrop {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  padding: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  max-width: 450px;
  min-height: 250px;
  height: 50%;
  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  overflow: auto;
}

#root {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

/* .flex-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
} */

button {
  position: relative;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
  user-select: none;
}

button:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px #fcc746;
}

button:active:after {
  content: "";
  box-shadow: 0 0 0 0 #fcc746;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

button:active {
  top: 1px;
}

.filter-container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.banks-container {
  padding: 20px;
  flex-basis: 250px;
  background-color: lightgreen;
  min-height: 350px;
  border-radius: 10px;
}

.bank-item {
  cursor: pointer;
}

.bank-item:not(:last-child) {
  margin-bottom: 10px;
}

.bank-item-container {
  position: relative;
  padding-left: 5px;
  padding-right: 55px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.bank-item-active {
  border: 2px solid blue;
}

.span-bank-name {
  padding-left: 3px;
}

.bank-item-container button {
  position: absolute;
  right: 10px;
  padding: 0;
  width: 20px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: transparent;
}

.edit-bank-btn {
  right: 35px !important;
}

.create-bank-btn {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 40px;
}

.loan-info-container {
  padding: 20px;
  flex-basis: 350px;
  background-color: lightblue;
  min-height: 350px;
  border-radius: 10px;
}

.loan-info-item:not(:last-child) {
  margin-bottom: 10px;
}

.loan-info-item {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(10ch, 1fr));
  height: 40px;
  border-bottom: 1px solid #eeeeee;
}

.loan-info-key {
  grid-column-start: 1;
}

.loan-info-value {
  font-weight: 600;
  grid-column-start: 2;
  text-align: right;
}

.form-group {
  padding-top: 10px;
}

.form-group label {
  display: block;
}

.form-container {
  height: 90%;
  overflow: auto;
}

.form-title {
  margin: 0;
}

.no-banks-msg {
  margin: 0;
  padding-top: 20px;
  font-style: italic;
  font-size: 13px;
}

.remove-all-banks-btn {
  color: red;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 40px;
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
